server.port=
management.endpoints.web.exposure.include=*
management.endpoint.shutdown.enabled=true

#database
spring.datasource.driver-class-name=
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.jpa.database-platform=
spring.h2.console.settings.trace=
spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.enable_lazy_load_no_trans=true

#logging
#logging.level.root=debug
#logging.level.org.springframework.web=trace
#logging.level.org.apache=trace

#optional
spring.jpa.show-sql=true